* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

body{
    background-color: gainsboro;
}

/* THIS IS THE HEADER TEXT STYLE*/
.header-text{
 width: 50%;
 background-color: aqua;
 text-align: left;
 color: green;

}

.welcome_text{
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
}



