* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", serif;
    box-sizing: border-box;
    color: black;
}

body{
    background-color: gainsboro;
}

.header-text{
  width: max-content;
  /* background-color: green; */
  color: black;
  font-family: monospace;
  font-weight: 900;
  font-size: 30px;
  text-decoration:underline;
  text-transform: uppercase;
  /* line-height: 190px; */
}

/* VW STANDS FOR VIEWPORT WIDTH
    And you use this whenever you want your html div to occupy
    the entire with of whatever screen
    you are using to view the website
*/
.container {
 width:100vw;
 height: 100vh;
 /* background-color: black; */
}

.navbar {
    display: none;
    width: 90%;
    height: 100px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px ;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.456);
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}

.logo-image{
    width: 40px;
}

.icon-image {
    width: 20px;
}

.logo-span{
    color: #faa320;
}
 

.logo-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-link-group {
    display: flex;
    align-items: center;
    gap: 60px;
}

.icon-btn-group {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-btn {
    all: unset; 
    width: 100px;
    height: 40px;
    border:2px solid #faa320; 
    text-align: center;
    border-radius: 5px;
    color: #faa320;
    cursor: pointer;
}

.main-container {
    width: 100vw;
    height: 100%;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #faa320;
}

.box1{
    width: 500px;
    height: 500px;
    background-color: #20fae0;
}


