* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


.welcome_text {
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: bold;
    padding-left: 10px;
    width: 50%;
    margin-left: 100px;
    margin-bottom: 20px;
}

